---
import DefaultLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<DefaultLayout title="博文">
  <h1>我的 Astro 学习博客</h1>
  <p>这是我的 Astro 学习笔记</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</DefaultLayout>
