---
import DefaultLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
---

<DefaultLayout title="主页">
  <h1>欢迎来到我的astro博客</h1>

  <Greeting client:load messages={["陌生人你好", "你好", "欢迎"]} />
</DefaultLayout>
